@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

body {
    font-family: 'Inter';
    background-color: #ffffff;
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 1%;
}

section {
    display: flex;
    align-items: flex-start;
    justify-content: space-around;
}

.container1 {
    padding: 20px;
    width: 90%;
    max-width: 400px;
    text-align: center;
}

.container2 {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
    width: 90%;
    max-width: 400px;
    text-align: center;
}

textarea:focus {
    border-color: #0A3871;
    outline: none;
}

.buttons {
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 15px;
    background-color: #0A3871;
    color: #ffffff;
    cursor: pointer;
    transition: background-color 0.3s ease;
    width: 48%;
}

button:disabled {
    background-color: #cccccc;
    cursor: not-allowed;
}

button:hover:not(:disabled) {
    background-color: red;
}
#btnDecript{
    background-color: gray;
}
#btnDecript:hover:not(:disabled){
    background-color: red;
}

#copy-button {
    background-color: #28a745;
}
#copy-button:hover:not(:disabled) {
    background-color: yellowgreen;
}

#input-text {
    width: 100%;
    height: 400px;
    margin-bottom: 15px;
    font-size: 30px;
    font-family: 'Inter';
    color: #0A3871;
    resize: none;
    border: none;
    background-color: #ffffff;
}
#input-text::placeholder{
    font-family: 'Inter';
    color: #0A3871;
}

#output-text {
    width: 100%;
    height: 400px;
    margin-bottom: 10px;
    margin-top: 40px;
    font-size: 16px;
    border-radius: 6px;
    border: none;
    background-color: #ffffff;
    resize: none;
    transition: border-color 0.3s ease;
    background: url('./assets/img/vetor1.svg') no-repeat center top;
    background-size: 70%;
    padding-top: 300px; 
    text-align: center;
    color: transparent; 
}
#output-text::placeholder {
    color: #0A3871;
    text-align: center;
    font-size: 25px; 
}
#output-text:focus, #output-text:not(:placeholder-shown) {
    background: none;
    font-family: 'Inter';
    color: #0A3871;;
    padding-top: 0; 
    text-align: center; 
    font-size: 25px;
}


footer{
    display: flex;
    width: 100%;
    margin-top: 2%;
    padding: 8px;
    background:  #0A3871;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

h3{
    font-size: 100%;
    color: #ffffff;
    text-transform: uppercase;
    text-align: center;
}